// Animación para dibujar el check
@keyframes draw-check {
  from {
    stroke-dashoffset: 24; // Longitud aproximada del path
  }
  to {
    stroke-dashoffset: 0;
  }
}

// Aplicamos la animación cuando el input 'peer' está checked
:host ::ng-deep input.peer:checked ~ div .checkmark-path {
  stroke-dasharray: 24;
  animation: draw-check 0.3s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}
