<div
    class="max-w-3xl mx-auto bg-bg-secondary border border-border rounded-[32px] overflow-hidden transition-colors duration-300">
    <div class="flex items-center bg-bg-primary/50 border-b border-border justify-between">
        <div class="p-8">
            <h2 class="text-2xl font-black text-text-primary uppercase tracking-tight">Editar Proveedor</h2>
            <p class="text-text-muted text-sm font-medium">
                Actualiza los datos de contacto o información fiscal del socio comercial.
            </p>
        </div>
        <a routerLink="/app/suppliers"
            class="text-text-muted hover:text-text-primary transition-colors flex items-center gap-1 font-bold text-sm px-10">
            <svg class="w-4 h-4" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 19l-7-7m0 0l7-7m-7 7h18" />
            </svg>
            Volver a la lista
        </a>
    </div>

    @if (fetching()) {
    <div class="flex justify-center items-center py-20">
        <div class="animate-spin rounded-full h-12 w-12 border-b-2 border-text-primary"></div>
    </div>
    } @else {
    <form class="p-8" #f="ngForm" (ngSubmit)="update(f)">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
            <app-input name="name" label="Nombre Comercial" [(ngModel)]="supplier.name" [required]="true"
                [maxlength]="100" placeholder="Ej: Distribuidora Central" [minLength]="3"
                [showErrors]="formSubmitted()">
            </app-input>

            <app-input name="companyName" label="Razón Social" [(ngModel)]="supplier.companyName" [required]="true"
                [maxlength]="100" placeholder="Ej: Distribuciones S.A. de C.V." [showErrors]="formSubmitted()">
            </app-input>

            <app-input name="email" label="Correo Electrónico" type="email" [(ngModel)]="supplier.email"
                [required]="true" placeholder="ejemplo@proveedor.com" [showErrors]="formSubmitted()">
            </app-input>

            <app-input name="phone" label="Teléfono" [(ngModel)]="supplier.phone" [required]="true" [maxlength]="15"
                placeholder="Ej: 2222-2222" [showErrors]="formSubmitted()">
            </app-input>

            <div class="md:col-span-2">
                <app-input name="address" label="Dirección" [(ngModel)]="supplier.address" [required]="true"
                    [maxlength]="200" placeholder="Ej: Zona Industrial, Edificio B" [showErrors]="formSubmitted()">
                </app-input>
            </div>
        </div>

        <div class="py-4"></div>
        <app-button [type]="'submit'" label="Actualizar Proveedor" icon="refresh" [isLoading]="loading()">
        </app-button>
    </form>
    }
</div>