<div class="relative w-64 md:w-84 py-2">
  @if (label() !== undefined) {
  <span class="text-xs font-bold text-zinc-500 uppercase tracking-widest ml-1 mb-2 block ">
    {{ label() || 'Seleccionar un item' }}
  </span>
  }
  <button
    (click)="toggle()"
    type="button"
    class="w-full flex items-center justify-between bg-white border border-blue-500 p-3 rounded-2xl shadow-sm focus:outline-none focus:ring-4 focus:ring-blue-100 transition-all"
  >
    <div class="flex items-center gap-2 text-zinc-700">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="w-5 h-5 text-blue-500"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M15.75 6a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0ZM4.501 20.118a7.5 7.5 0 0 1 14.998 0A17.933 17.933 0 0 1 12 21.75c-2.676 0-5.216-.584-7.499-1.632Z"
        />
      </svg>
      <span class="font-medium truncate">{{ selectedLabel() || 'Seleccione una opción' }}</span>
    </div>

    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="2"
      stroke="currentColor"
      class="w-4 h-4 text-zinc-400 transition-transform"
      [class.rotate-180]="isOpen()"
    >
      <path stroke-linecap="round" stroke-linejoin="round" d="m19.5 8.25-7.5 7.5-7.5-7.5" />
    </svg>
  </button>

  @if (isOpen()) {
  <div
    class="absolute z-50 w-full mt-2 bg-white border border-zinc-200 rounded-[20px] shadow-xl overflow-hidden p-1.5 animate-in fade-in zoom-in duration-150"
  >
    @for (option of options(); track option.value) {
    <button
      (click)="select(option)"
      type="button"
      class="w-full flex items-center gap-3 p-3 rounded-[14px] hover:bg-blue-50 text-zinc-700 hover:text-blue-700 transition-colors text-left group"
    >
      <div
        class="w-8 h-8 rounded-full bg-zinc-100 group-hover:bg-blue-100 flex items-center justify-center font-bold text-xs transition-colors"
      >
        {{ getInitials(option.label) }}
      </div>

      <span class="text-sm font-semibold">{{ option.label }}</span>
    </button>
    } @empty {
    <div class="p-4 text-center text-sm text-zinc-400 italic">No hay opciones disponibles</div>
    }
  </div>
  }
</div>
