<div class="space-y-6">
  <div class="flex flex-col md:flex-row md:items-center justify-between gap-4">
    <div>
      <h1 class="text-2xl font-bold text-zinc-900">Directorio de Usuarios</h1>
      <p class="text-zinc-500 text-sm">Gestiona la información de tus Usuarios.</p>
    </div>
    <app-checkbox [(ngModel)]="showInactive" [name]="'showInactive'" [label]="showInactive() ? 'Cliente' : 'Empleado'"
      [required]="false" (ngModelChange)="handleCheckboxChange()">
    </app-checkbox>
    <app-button label="Registrar usuario" type="button" (btnClick)="add()" [icon]="'add-plus'">
    </app-button>
  </div>

  <app-table-list [data]="filtered()" [columns]="tableColumns" [filters]="filters() || []" [totalItems]="totalItems()"
    [currentPage]="currentPage()" [totalPages]="totalPages()" (onAction)="handleTableAction($event)"
    (onFilter)="handleFilter($event)" (onSort)="handleSort($event)" (onPageChange)="handlePage($event)"
    [searchTerm]="searchQuery()" (onSearch)="searchQuery.set($event)" (onPageSizeChange)="pageSize.set($event)">
  </app-table-list>
</div>