<div class="min-h-screen bg-slate-50 flex flex-col">
  
  <nav class="bg-white border-b border-slate-200 shadow-sm sticky top-0 z-50">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
      <div class="flex justify-between h-16 items-center">
        <div class="flex items-center gap-2">
          <div class="w-8 h-8 bg-pink-500 rounded-lg flex items-center justify-center shadow-sm">
             <span class="text-white font-bold text-xs">DS</span>
          </div>
          <span class="text-xl font-bold text-slate-800 tracking-tight">Detail Shop</span>
        </div>

        <div class="hidden md:flex space-x-8">
          <a routerLink="/dashboard" routerLinkActive="text-pink-600 border-b-2 border-pink-600" class="text-slate-600 hover:text-pink-500 font-medium py-5 transition-colors">Dashboard</a>
          <a routerLink="/clientes" routerLinkActive="text-pink-600 border-b-2 border-pink-600" class="text-slate-600 hover:text-pink-500 font-medium py-5 transition-colors">Clientes</a>
          <a routerLink="/citas" routerLinkActive="text-pink-600 border-b-2 border-pink-600" class="text-slate-600 hover:text-pink-500 font-medium py-5 transition-colors">Calendario</a>
        </div>
      </div>
    </div>
  </nav>

  <main class="flex-grow">
    <div class="max-w-7xl mx-auto py-6 sm:px-6 lg:px-8">
     
    </div>
  </main>

</div>