<div class="p-10 flex flex-col items-center text-center bg-bg-secondary transition-colors duration-300">
  <div class="flex h-24 w-24 items-center justify-center rounded-3xl mb-8 shrink-0 shadow-lg border border-border"
    [ngClass]="{
      'bg-red-500/10 text-red-600': variant() === 'danger',
      'bg-blue-500/10 text-blue-600': variant() === 'info',
      'bg-primary/10 text-primary': variant() === 'primary' || !variant()
    }">
    @if (variant() === 'danger') {
    <svg class="h-12 w-12" fill="none" viewBox="0 0 24 24" stroke-width="2.5" stroke="currentColor">
      <path
        d="M12 9v3.75m-9.303 3.376c-.866 1.5.217 3.374 1.948 3.374h14.71c1.73 0 2.813-1.874 1.948-3.374L13.949 3.378c-.866-1.5-3.032-1.5-3.898 0L2.697 16.126zM12 15.75h.007v.008H12v-.008z" />
    </svg>
    } @else {
    <svg class="h-12 w-12" fill="none" viewBox="0 0 24 24" stroke-width="2.5" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round"
        d="M11.25 11.25l.041-.02a.75.75 0 011.063.852l-.708 2.836a.75.75 0 001.063.853l.041-.021M21 12a9 9 0 11-18 0 9 9 0 0118 0zm-9-3.75h.008v.008H12V8.25z" />
    </svg>
    }
  </div>

  <div class="w-full space-y-4 mb-12">
    <h3 class="text-3xl font-black text-text-primary tracking-tight uppercase leading-none">
      {{ title() }}
    </h3>
    <p class="text-text-muted text-lg leading-relaxed font-bold">
      {{ message() }}
    </p>
  </div>

  <div class="grid grid-cols-1 sm:grid-cols-2 gap-4 w-full">
    <button (click)="confirmService.close(false)"
      class="order-2 sm:order-1 px-8 py-4 text-xs font-black uppercase tracking-[0.2em] text-text-muted bg-bg-primary hover:bg-bg-secondary hover:text-text-primary rounded-2xl transition-all border border-border shadow-sm active:scale-95">
      {{ btnCancelText() }}
    </button>
    <button (click)="confirmService.close(true)"
      class="order-1 sm:order-2 px-8 py-4 text-xs font-black uppercase tracking-[0.2em] text-white rounded-2xl shadow-2xl transition-all active:scale-95"
      [ngClass]="{
        'bg-red-600 hover:bg-red-700 shadow-red-500/40': variant() === 'danger',
        'bg-blue-600 hover:bg-blue-700 shadow-blue-500/40': variant() === 'info',
        'bg-primary hover:bg-primary-hover shadow-primary/40': variant() === 'primary' || !variant()
      }">
      {{ btnConfirmText() }}
    </button>
  </div>
</div>