/* Estilo para que el modal parezca una tarjeta centrada */
.custom-modal-zinc {
  --height: auto;
  --width: 90%;
  --max-width: 450px;
  --border-radius: 24px;
  --background: transparent;

  &::part(content) {
    border-radius: 24px;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  }

  /* Centrar en la pantalla */
  .ion-page {
    justify-content: center;
    background: transparent;
  }
}
