<div class="space-y-6 animate-in fade-in duration-500">
    <div class="flex flex-col md:flex-row justify-between items-start md:items-center gap-4">
        <div>
            <h1 class="text-2xl font-black text-text-primary uppercase tracking-tight">Gestión de Roles</h1>
            <p class="text-text-muted font-medium text-sm mt-1">Configura los niveles de acceso y responsabilidades del
                sistema.</p>
        </div>
        <app-button label="Nuevo Rol Corporativo" icon="add-plus" (btnClick)="goToAdd()"></app-button>
    </div>

    <app-table-list [data]="filteredRoles()" [columns]="tableColumns" [filters]="[]"
        [totalItems]="filteredRoles().length" [currentPage]="0" [totalPages]="1" (onAction)="handleTableAction($event)"
        [searchTerm]="searchQuery()" (onSearch)="searchQuery.set($event)">
    </app-table-list>
</div>